<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrieren</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="flex min-h-screen">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Registrieren</h2>
          <p class="mt-2 text-sm text-gray-600">
            Erstelle ein neues Konto
          </p>
        </div>
  
        <div class="mt-8">
          <div class="mt-6">
            <form action="/register" method="POST" class="space-y-6">
              <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Nutzername</label>
                <div class="mt-1">
                  <input id="username" name="username" type="text" autocomplete="username" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="MaxMustermann">
                </div>
              </div>

              <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-700">Passwort</label>
                <div class="mt-1">
                  <input id="password" name="password" type="password" autocomplete="new-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="*********">
                </div>
              </div>

              <div class="space-y-1">
                <label for="school" class="block text-sm font-medium text-gray-700">Schule</label>
                <div class="mt-1">
                  <input id="school" name="school" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Schule XY">
                </div>
              </div>

              <div class="space-y-1">
                <label for="secret" class="block text-sm font-medium text-gray-700">Geheimnis</label>
                <div class="mt-1">
                  <input id="secret" name="secret" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Geheimes Passwort">
                </div>
              </div>

              <div class="space-y-1">
                <label for="subdomain" class="block text-sm font-medium text-gray-700">Subdomain</label>
                <div class="mt-1">
                  <input id="subdomain" name="subdomain" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="subdomain">
                </div>
              </div>

              <div class="flex items-center justify-between">
                <div class="text-sm">
                  <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Bereits ein Konto? Melde dich an</a>
                </div>
              </div>

              <div>
                <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Registrieren</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="https://picsum.photos/1400/800?random=2" class="h-full w-full object-cover" alt="">
    </div>
  </div>
</body>
</html>
